<header class="navbar navbar-expand-lg navbar-light custom-navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ userDisplayName }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #navbarNav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let link of internalNavLinks" class="nav-item">
          <a class="nav-link" (click)="closeMenu()" href="{{ link.url }}">{{ link.displayName }}</a>
        </li>
        <li *ngFor="let link of externalNavLink" class="nav-item">
          <a class="nav-link" (click)="closeMenu()" href="{{ link.url }}" target="_blank">{{ link.displayName }}</a>
        </li>
        <li *ngFor="let link of otherPagesNavLink" class="nav-item">
          <a class="nav-link" (click)="closeMenu()" [routerLink]="[link.url]">{{ link.displayName }}</a>
        </li>
      </ul>
    </div>
  </div>
</header>



<!-- <form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form> -->