<div class="container">
  <h2>TY website CMS platform</h2>
  <hr>
  <button class="tybtn btn btn-primary rounded-pill" (click)="goBack()">← Back to menu</button>
  <hr>
  <h4>New log</h4>
  <form (ngSubmit)="submitForm()" #logForm="ngForm">
    <!-- Category -->
    <label>Category:</label><br>
    @for (cat of allDisplaycategories; track $index; let idx=$index) {
    <input type="radio" name="category" [value]="cat" [(ngModel)]="category" (change)="onCategoryChange(cat)"
      required /> {{ cat }} <br>
    }
    <!-- Other category -->
    <input type="radio" name="category" [value]="'Other'" [(ngModel)]="category" (change)="onCategoryChange('Other')"
      id="otherRadio" /> Other
    <input type="text" [(ngModel)]="customCategory" name="customCategory" (keyup)="onOtherInputChange()" />

    <br><br>

    <!-- Date -->
    <label>Date:</label><br>
    <input type="date" [(ngModel)]="date" name="date" required />

    <br><br>

    <!-- Version -->
    <label>Version:</label><br>
    <input type="number" [(ngModel)]="version.major" name="major" size="2" required />&nbsp;.&nbsp;
    <input type="number" [(ngModel)]="version.minor" name="minor" size="2" required />&nbsp;.&nbsp;
    <input type="number" [(ngModel)]="version.patch" name="patch" size="2" />


    <br><br>

    <!-- Critical -->
    <label>
      <input type="checkbox" [(ngModel)]="is_critical" name="isCritical" /> Critical
    </label><br><br>

    <!-- Description -->
    <label>Description:</label>
    <br>
    <textarea [(ngModel)]="descriptionText" name="description" placeholder="Enter log description" rows="5" cols="50"
      required></textarea><br><br>

    <button class="tybtn btn btn-primary rounded-pill" type="submit" [disabled]="!logForm.form.valid">Submit</button>
    <div class="text-danger">{{ responseMessage }}</div>
  </form>

  <hr>

</div>