<div class="login">
  <div class="container">
    <div class="login-block">
      <div class="row">
        <div class="col-sm-12">
          <img src="favicon.ico" alt="">
          <br>
          <br>
        </div>
        <div class="col-sm-5">
          <p class="login-title">Sign in</p>
          <p>Use your TY Account</p>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-6">

          <input type="text" class="form-control larger-line-height" id="username" placeholder="Email or phone"
            name="name" />
          <a class="larger-line-height" [href]="null" (click)="clickForgetEmail()">Forget
            email?</a>
          <br>
          <br>
          <br>
          <br>
          <p>Not your computer? Use a Private Window to sign in. <a
              href="https://support.google.com/accounts/answer/2917834">Learn more about using Guest mode from
              Google</a>.</p>
          <br>
          <div class="d-flex justify-content-end">
            <button class="tybtn btn btn-light rounded-pill" (click)="clickCreateAccount()"
              [disabled]="!bCreateAccount">Create
              account</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="tybtn btn btn-primary rounded-pill" (click)="clickNext()"
              [disabled]="!bNext">Next</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>