<div class="container">
  <h1 class="py-1 text-center">Website Log</h1>
  @for (log of log.logDetails; track $index; let idx = $index) {
  <div class="log-card slideUpFadeInAnimation row border-bottom" [ngStyle]="{ 'animation-delay': idx * 0.1 + 's' }">
    <div class="col-md-2 col-12 mb-3 mb-md-0">
      @if (log.critical) {
      <h5>Version</h5>
      <h5 class="log-critical">{{ log.version.major }}.{{ log.version.minor }}{{ log.version.patch !== undefined ? '.' +
        log.version.patch : '' }}</h5>
      } @else {
      <h5>Version {{ log.version.major }}.{{ log.version.minor }}{{ log.version.patch !== undefined ? '.' +
        log.version.patch : '' }}
      </h5>
      }
      <span>{{ log.date | date: 'yyyy-MM-dd' }}</span>

    </div>
    <div class="col-md-10 col-12">
      <ul style="padding-right: 70px;">
        @for (desc of log.description; track $index) {
        <li class="card-text">{{ desc }}</li>
        }
      </ul>
    </div>
  </div>
  }


  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  <br>
  <br>
</div>