
/* Global button START */
.tybtn {
    line-height: 1.5rem;
}
/* Global button END */

/* Global background START */
.tybg-software-project-personal-website {
  background-color: #585858;
}
/* Global background END */











html,
body {
    background-color: #ffffff;
    color: #585858;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding-top: 80px;
}

h1,
.h1,
.card-title {
    font-weight: 600;
    font-style: normal;
}




@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideUpFadeInAnimation {
    opacity: 0;
    animation: slideUpFadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateY(20px);
}

section {
    animation: slideUpFadeIn 1s ease-in-out;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    animation: slideUpFadeIn 1s ease-in-out;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card>img {
    border-radius: 15px;
}



card {
    animation: fadeIn 1s ease-in-out;
}


.home-contact-me {
    padding: 20px;
}


button:hover {
    background-color: #c0e8ff;
    transition: background-color 0.3s ease;
}

.navbar-light .navbar-brand {
    color: #5a5a5a;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {

    color: #0056b3;
}

.navbar {
    padding: 0.5rem 1rem;
}



.card {
    opacity: 0;
    animation-fill-mode: forwards;
    animation: slideUpFadeIn 0.5s ease-out forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
}


.cms {
  font-family: Arial, sans-serif;
}
